.col-lg-6>* {
    max-width: 450px;
    margin-bottom: 1rem;
}

.button-own-image:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat: no-repeat;
}

.button-cross:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat: no-repeat;
}

.smiley-img:before{
     background-image : url("../img/smiley.png");
}

.neutral-img:before{
     background-image : url("../img/neutral.png");
}

.sad-img:before{
     background-image : url("../img/sad.png");
}

.scream-img:before{
     background-image : url("../img/scream.png");
}

.angry-img:before{
     background-image : url("../img/angry.png");
}

.upside-down-img:before{
     background-image : url("../img/upside-down.png");
}

.cross-img{
     content: "";
     background-image : url("../img/cross.png");
     width: 20px;
     height: 20px;
     display: inline-block;
     margin-left: 5px;
     vertical-align: text-top;
     background-color: transparent;
     background-position : center center;
     background-repeat: no-repeat;
}