<!DOCTYPE html>
<html>
<head>
    <title>Smiley Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script rel="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        var param = {{data|tojson}}; // Retrieve data from main.py (i.e. image size, config parameters)
    </script>
</head>
<body>
<a href="https://github.com/sugyan/tensorflow-mnist"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                          src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
                                                          alt="Fork me on GitHub"
                                                          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="container">
    <h1>Smiley Recognition</h1>
    <div class="row">
        <div class="col-lg-6">
            <p>Draw a smiley here:</p>
            <canvas id="main" style="border:1px solid"></canvas>
            <p>
                <button id="clear" class="btn btn-outline-secondary">Clear</button>
                <label for="trainingDataLabel">&nbsp;&nbsp;Add Training Data To:
                    <input list="trainingDataLabelOptions" id="trainingDataLabel" placeholder="e.g. smile">
                    <datalist id="trainingDataLabelOptions"></datalist>
                    <button id="addTrainingData" class="btn btn-outline-secondary">Add</button>
                </label>
            </p>
            <hr>
            <div style="margin-top: 1rem">
                <div class="btn-group">
                    <button class="btn" style="pointer-events: none;">Import from:</button>
                    <label id="importFile" class="btn btn-outline-secondary" style="margin-bottom: 0px;">File<input type="file" hidden></label>
                    <label id="importFolder" class="btn btn-outline-secondary" style="margin-bottom: 0px;">Folder<input type="file" multiple webkitdirectory hidden></label>
                    <button id="takePicture" class="btn btn-outline-secondary">Camera</button>
                </div>&nbsp;
                <div class="btn-group">
                    <button class="btn" style="pointer-events: none;">Models:</button>
                    <button id="trainModels" class="btn btn-outline-primary">Train</button>
                    <button id="deleteModels" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
            <div style="margin: 1rem 0 1rem 0">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" href="#trainParameters">
                        <span>Train Parameters Panel</span>
                        <span class="float-right text-muted" id="toggle-text">Click to toggle</span>
                    </div>
                    <div id="trainParameters" class="collapse">
                        <form id="config-form">
                            <div class="card-body" style="padding: 0; border: 0;">
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="num-augm" style="border-radius: 0">Augmentations per image:</label></div>
                                    <input type="number" id="num-augm" class="form-control" value="10" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="batch-size" style="border-radius: 0">Batch size:</label></div>
                                    <input type="number" id="batch-size" class="form-control" value="10" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="sr-rate" style="border-radius: 0">Softmax regression learning rate:</label></div>
                                    <input type="number" id="sr-rate" class="form-control" value="0.01" step="0.0001" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="sr-epochs" style="border-radius: 0">Softmax regression epochs:</label></div>
                                    <input type="number" id="sr-epochs" class="form-control" value="3" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="cnn-rate" style="border-radius: 0">CNN learning rate:</label></div>
                                    <input type="number" id="cnn-rate" class="form-control" value="0.0001" step="0.0001" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="cnn-epochs" style="border-radius: 0">CNN epochs:</label></div>
                                    <input type="number" id="cnn-epochs" class="form-control" value="3" style="border-radius: 0">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary" type="submit">Save parameters</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg-6">
            <p>input:</p>
            <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
            <hr>
            <p>output:</p>
            <p class="error" id="error"></p>
            <table id="output" class="table"></table>
        </div>
    </div>
</div>
</body>
</html>
