<!DOCTYPE html>
<html>
<head>
    <title>Smiley Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script rel="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        var param = {{data|tojson}}; // Retrieve data from main.py (i.e. image size, config parameters)
    </script>
    <style>
.button-own-image:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat: no-repeat;
}

.smiley-img:before{
     background-image : url(../static/img/smiley.png);
}
</style>
</head>
<body>
<div class="container">
    <h1>Smiley Recognition</h1>
    <div class="row">
        <div class="col-lg-6">
            <div style="margin-bottom: 1rem">
                <div class="btn-group">
                    <button id="ModeDraw" class="btn btn-outline-secondary">Draw</button>
                    <button id="ModeCamera" class="btn btn-outline-secondary">Camera</button>
                </div>
            </div>
            <canvas id="main" style="border:1px solid"></canvas>
            <p>
                <button id="clear" class="btn btn-outline-secondary">Clear</button>
                <button id="recognise" class="btn btn-outline-secondary">Recognise</button>
            </p>
            <div class="card" style="margin-bottom: 1rem">
                <div class="card-header">
                    <span>Add to training</span>
                </div>
                <div class="card-body">
                    <button id="addSmileyData" class="btn btn-outline-secondary button-own-image smiley-img" value="smiley">smiley</button>
                    <button id="addSmileyData2" class="btn btn-outline-secondary button-own-image smiley-img" value="smiley">smiley2</button>
                    <button id="addSmileyData3" class="btn btn-outline-secondary button-own-image smiley-img" value="smiley">smiley3</button>
                    <button id="addSmileyData4" class="btn btn-outline-secondary button-own-image smiley-img" value="smiley">smiley4</button>
                    <button id="addSmileyData5" class="btn btn-outline-secondary button-own-image smiley-img" value="smiley">smiley5</button>
                    <br>
                    <label for="trainingDataLabel" style="margin-bottom: 0;">&nbsp;&nbsp;Or add your own category:
                        <input list="trainingDataLabelOptions" id="trainingDataLabel" placeholder="e.g. elephant">
                        <datalist id="trainingDataLabelOptions"></datalist>
                        <button id="addTrainingData" class="btn btn-outline-secondary">Add</button>
                    </label>
                </div>
            </div>
            <div style="margin-bottom: 1rem">
                    <button id="trainModels" class="btn btn-outline-primary">Train</button>
            </div>
            <div style="margin-bottom: 1rem">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" href="#trainParameters">
                        <span>Train Parameters Panel</span>
                        <span class="float-right text-muted" id="train-toggle-text">Click to toggle</span>
                    </div>
                    <div id="trainParameters" class="collapse">
                        <form id="config-form">
                            <div class="card-body" style="padding: 0; border: 0;">
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="num-augm" style="border-radius: 0">Augmentations per image:</label></div>
                                    <input type="number" id="num-augm" class="form-control" value="10" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="batch-size" style="border-radius: 0">Batch size:</label></div>
                                    <input type="number" id="batch-size" class="form-control" value="10" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="sr-rate" style="border-radius: 0">Softmax regression learning rate:</label></div>
                                    <input type="number" id="sr-rate" class="form-control" value="0.01" step="0.0001" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="sr-epochs" style="border-radius: 0">Softmax regression epochs:</label></div>
                                    <input type="number" id="sr-epochs" class="form-control" value="3" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="cnn-rate" style="border-radius: 0">CNN learning rate:</label></div>
                                    <input type="number" id="cnn-rate" class="form-control" value="0.0001" step="0.0001" style="border-radius: 0">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend"><label class="input-group-text" for="cnn-epochs" style="border-radius: 0">CNN epochs:</label></div>
                                    <input type="number" id="cnn-epochs" class="form-control" value="3" style="border-radius: 0">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-primary" type="submit">Save parameters</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg-6">
            <p>network input:</p>
            <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
            <hr>
            <p>network output:</p>
            <p class="error" id="error"></p>
            <table id="output" class="table"></table>
            <!--<div class="card" style="margin-bottom: 1rem">
                <div class="card-header" data-toggle="collapse" href="#consoleOutput">
                    <span>Console Output</span>
                    <span class="float-right text-muted" id="console-toggle-text">Click to toggle</span>
                </div>
                <div id="consoleOutput" class="collapse">
                    <div class="card-body" style="border: 0; max-height: 200px; overflow-y: scroll;">
                        Waiting for connection to be established...
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
</body>
</html>
