<!DOCTYPE html>
<html>
<head>
    <title>Smiley Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        var param = {{data|tojson}}; // Retrieve data from main.py (i.e. image size)

    </script>
</head>
<body>
<a href="https://github.com/sugyan/tensorflow-mnist"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                          src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
                                                          alt="Fork me on GitHub"
                                                          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="container">
    <h1>Smiley Recognition</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Draw a smiley here:</p>
            <canvas id="main" style="border:1px solid"></canvas>
            <p>
                <button id="clear" class="btn btn-default">Clear</button>
                <label for="trainigDataLabel">&nbsp;Add Training Data To:
                    <input list="trainigDataLabelOptions" id="trainigDataLabel" placeholder="E.g. smile">
                    <datalist id="trainigDataLabelOptions">
                        <option value="cool">
                        <option value="onHead">
                        <option value="sad">
                        <option value="smile">
                    </datalist>
                    <button id="addTrainingData" class="btn btn-default">Add
                    </button>
                </label>
            </p>
            <div style="margin-top: 10px">
                <div class="btn-group">
                    <button class="btn" style="pointer-events: none;">Import from:</button>
                    <label id="importImage" class="btn btn-default btn-file">File<input type="file"
                                                                                        style="display: none;"/></label>
                    <button id="takePicture" class="btn btn-default">Camera</button>
                </div>&nbsp;
                <div class="btn-group">
                    <button class="btn" style="pointer-events: none;">Models:</button>
                    <button id="trainModels" class="btn btn-primary">Train</button>
                    <button id="deleteModels" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div style="margin-top: 10px">
                <div class="btn-group">
                    <form id="file-catcher">
                        <div class="form-group">
                            <input type='file' class='input-ghost' id='files-input' multiple webkitdirectory
                                   style='visibility:hidden; height:0'>
                            <div class="input-group input-file">
                                <span class="input-group-btn">
        		                    <button class="btn" style="pointer-events: none;">Import multiple:</button>
    		                    </span>
                                <span class="input-group-btn">
        		                    <button class="btn btn-default btn-choose" id="choose-dir" type="button"
                                            style="border-radius: 0;">Choose </button>
    		                    </span>
                                <input type="text" class="form-control" id="dir-text"
                                       placeholder='Choose a directory...'/>
                                <span class="input-group-btn">
       			                    <button class="btn btn-primary" type="submit">Submit</button>
    		                    </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <p>input:</p>
            <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
            <hr>
            <p>output:</p>
            <p class="error" id="error"></p>
            <table id="output" class="table"></table>
        </div>
    </div>
</div>
</body>
</html>
